*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.box-container{
  justify-content: space-evenly;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.bg-box{
  width: 100%;
  height: 90%;
}

#input-box{
  width: 100%;
  height: 10%;
}


button{
  display: block;
  width: 300px;
  margin: 20px auto;
}

